<!DOCTYPE html>
<html lang="en">  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Create A User</title>
</head>
<body>
    <div class="topnav">
        <a href="/user">User</a>
        <a href="/class">Class</a>
        <a href="/score">Score</a>
        <a href="/class/create" class="active">Create Classes</a>
    </div>
    <div class = "form-add-new"></div>
        <form action="/class/create-class" method="post">
            <fieldset>
                <legend>Add new classes:</legend>
                <div>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name">
                </div>
                <div>
                    <label for="description">Description:</label>
                    <input type="text" id="description" name="description">
                </div>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </div>
</body>
</html>