<!DOCTYPE html>
<html lang="en">  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Create A User</title>
</head>
<body>
    <div class="topnav">
        <a href="/user">Home</a>
        <a href="/class">Class</a>
        <a href="/score">Score</a>
        <a class = "action" href="/user/create">Create Users</a>
    </div>
    <div class = "form-add-new"></div>
        <form action="/user/create-user" method="post">
            <fieldset>
                <legend>Add new users:</legend>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email">
                </div>
                <div>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name">
                </div>
                <div>
                    <label for="city">City:</label>
                    <input type="text" id="city" name="city">
                </div>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </div>
</body>
</html>