<!DOCTYPE html>
<html lang="en">  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Update A User</title>
</head>
<body>
    <div class="topnav">
        <a href="/user">User</a>
        <a href="/class">Class</a>
        <a href="/score">Score</a>
        <a href="/class/create">Create Class</a>
    </div>
    <div class = "form-add-new"></div>
        <form action="/class/update-class" method="POST">
            <fieldset>
                <legend>Update a user:</legend>
                <div style="display: none;">
                    <label for="id">ID:</label>
                    <input type="text" id="id" name="id" value="<%= classA.id %>" readonly>
                </div>
                <div>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" value="<%= classA.name %>">
                </div>
                <div>
                    <label for="city">City:</label>
                    <input type="text" id="description" name="description" value="<%= classA.description %>">
                </div>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </div>
</body>
</html>